.header-section{
    width:100%;
    height:100px;
    background-color: darkcyan;
}
.footer-section{
    width:100%;
    height:100px;
    background-color:rebeccapurple;
}
.testUnsedCSS{
    color:green;
}
